<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Graph Twitter User Tweets</title>

    <link href="/static/css/twitter-search.css" rel="stylesheet">
    <link href="/static/css/pikaday.css" rel="stylesheet">
    <link href="/static/css/graph.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="top-level-container">
      <div id="twitter-search-column">
        <div class="search-text-containers" id="twitter-select-user-container">
          <p class="twitter-select-text">Select Users</p>
        </div>
        <div id="twitter-select-user" style="display: none">
          <ul id="twitter-users">
          </ul>
        </div>
        <div class="search-text-containers" id="twitter-select-date-container">
          <p class="twitter-select-text">Select Date</p>
        </div>
        <div id="twitter-select-date" style="display: none">
          <ul class="dateFields">
            <li><input type="text" id="startDate"></li>
            <li><input type="text" id="endDate"></li>
          </ul>
        </div>
        <div class="search-text-containers" id="twitter-select-term-container">
          <p class="twitter-select-text">Search Term</p>
        </div>
        <div id="twitter-select-string" style="display: none">
          <input type="text" id="searchTerm">
        </div>
        <button id="searchButton">Search</button>
      </div>
      <div id="twitter-search-graph">
        <p>Graph lives here</p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-3.1.0.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/pikaday.js"></script>
    <script src="/static/js/moment.js"></script>
    <script src="/static/js/d3.js"></script>
    <script src="/static/js/expand.js"></script>
    <script>
        var picker = new Pikaday({ field: document.getElementById('startDate') });
        var picker = new Pikaday({ field: document.getElementById('endDate') });
    </script>
    -->
    <!-- <script src={{ path_to_js }}></script> -->
    <script src="/static/js/main.min.js"></script>
  </body>
</html>

